{% extends "blog/template.html" %}
{% block page_title %}Add post{% endblock %}
{% block content %}
          <div class="media mb-4">
            <h2 class="mt-0">Hello {{ user.username }}</h2>
            <br />
            <h2 class="mt-0">Add new post</h2>
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
              <input type="submit" name="add" value="Add" />
              </form>
            </div>
          </div>
{% endblock %}
